<div>
    <h1>Bienvenido Admin</h1>
    <button (click)="Archives()">Verificar Archivos</button>
    <button (clicked)="Users()">Verificar Usuarios Conectados</button>
    <button (clicked)="Sniffers()">Verificar Sniffers / Modo Promiscuo</button>
    <button (clicked)="Logs()">Verificar Logs</button>
    <button (clicked)="Mails()">Verificar Cola Mails</button>
    <button (clicked)="Memory()">Verificar Memoria</button>
    <button (clicked)="Temp()">Verificar Directorio / TEMP</button>
    <button (clicked)="DDOS()">Verificar DDOS</button>
    <button (clicked)="CRON()">Verificar CRON</button>
    <button (clicked)="Invalid()">Verificar Accesos NO Validos</button>
</div>
