<div>
    <h1>Bienvenido Admin</h1>
    <button (click)="Archives()">Verificar Archivos</button>
    <button (click)="Users()">Verificar Usuarios Conectados</button>
    <button (click)="Sniffers()">Verificar Sniffers / Modo Promiscuo</button>
    <button (click)="Logs()">Verificar Logs</button>
    <button (click)="Mails()">Verificar Cola Mails</button>
    <button (click)="Memory()">Verificar Memoria</button>
    <button (click)="Temp()">Verificar Directorio / TEMP</button>
    <button (click)="DDOS()">Verificar DDOS</button>
    <button (click)="CRON()">Verificar CRON</button>
    <button (click)="Invalid()">Verificar Accesos NO Validos</button>
    <button (click)="Verlogs()">Verlogs</button>
</div>
